@import "src/css/vars";

.inputs_field {
  display: flex;
  flex-direction: column;
  justify-content: start;

  &>* {
    background-color: transparent;
  }
}

.form_wrapper {
  width: 100%;
  //display: flex;
  flex-direction: column;

  @media screen and (max-width: 320px) {
    max-width: 260px;
    width: 90%;
  }
}



.priority_block {
  display: flex;
  align-items: center;
  padding: 15px 0;

  p {
    margin-right: 20px;
    color: black;
  }

  & > button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: $textLight;
    font-weight: bold;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .priority_btn:nth-child(2) {
    background-color: $priority1;
  }

  .priority_btn:nth-child(3) {
    background-color: $priority2;
  }

  .priority_btn:nth-child(4) {
    background-color: $priority3;
  }

  .priority_btn:nth-child(5) {
    background-color: $priority4;
  }

  .priority_btn.active {
    border: 3px solid $bgDark;
  }
}


.input {
  overflow-y: hidden;

  &_title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    resize: none;
  }

  &_description {
    font-size: 14px;
    resize: none;
    max-width: 100%;


  }
}


.buttons {
  display: flex;

  &__submit {

    background-color: #00f600;
    color: black;flex-basis: 35%;
  }

  &__cancel {

    background-color: #9a9a9a;
    color: black;flex-basis: 35%;
  }

  &__delete {
    width: 30px ;
    padding: 0 10px;
    background-color: #dc0000;
    color: white;
    flex-basis: 15%;
  }

  button {
    height: 50px;
    max-width: 100px;
    font-size: 16px;
  }

  span {
    display: inline-block;
    margin-right: 5px;
  }

  &>*:not(:last-child) {
    margin-right: 10px;
  }
}
