$borderRadius: 10px;
$headerColor: #58bb27;
$bgDark: #606060;
$bg-dark: #141414;
$bg-todo-dark: #1f1f1f;
$dark-col: #eeeeee;
$bgAccent: #e1e1e1;
$textLight: #fff;
$textDark: #000;
$text-accent: #78ACD5;
$navLinkColor: #8d8d8d;
$navLinkColorActive: #ffffff;
$completeColor: green;
$priority1: red;
$priority2: orange;
$priority3: green;
$priority4: gray;
$bgModal: rgba(2, 2, 2, 1);
$modalOpacity: 0.9;