@import "vars";

.container {
  width: 100%;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  background-color: $bg-dark;
  z-index: 15;
  display: flex;

  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 570px) {
    justify-content: center;
  }

  a {
    font-size: 25px;
    color: $text-accent;
    font-weight: bold;

    &.link:hover {
      text-decoration: underline;
    }

    &.link_active {
      text-decoration: underline;
      }
  }

  .pagesBlock {
    @media screen and (max-width: 570px) {
      display: none;
    }
    flex-basis: 50%;
    display: flex;


    color: $text-accent;
    & > *:not(:last-child) {
      margin-right: 30px;
    }

    @media  screen and (max-width: 500px) {
      flex-basis: 100%;
      justify-content: space-between;
    }
  }

}

.mobileNav {
  @media screen and (min-width: 570px) {
    display: none;
  }
}
